
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: #4B0082;     
  --secondary-color: #E63946;    
  --accent-color: #6C63FF;       
  --background-light: #F9FAFB;   
  --background-dark: #1E1E2F;    
  --text-primary: #2D2D2D;       
  --text-muted: #6B7280;         
}

*{
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
body{
  background: var(--background-light);
}